.course-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;

  }

  h3 {
    font-size: 20px;
    font-weight: bold; /* Bold font */
    color: #333;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }

  .common-btn {
    font-size: 18px; /* Smaller font size for the button */
    padding: 7px 12px; /* Smaller padding for the button */
    border-radius: 5px; /* Slightly rounded corners for the button */
    margin-top: 7px; /* Small margin on top */
  }
  
}
